.ServiceBtnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 120px 0 0 35px;
    font-family: Roboto;
    color: black;
    border: 1px solid black;
    box-shadow: 10px 10px 15px 0 #888888;
    border-radius: 12px;
    width: 160px;
    height: 40px;
    color: black;
    background-color: inherit;
    font-size: 1.2rem;
    font-family: Roboto;

    .serviceBtnText {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 12px;
        width: 160px;
        height: 40px;
        color: black;
        background-color: inherit;
        font-size: 1.2rem;
        font-family: Roboto;

        &:hover {
            cursor: pointer;
            background: black;
            color: white;
            transition: 0.7s;
        }
    }
}
