.text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 250px;
    width: 100%;
    height: 100%;

    .firstText {
        display: flex;
        color: #ffffff;
        font-size: 30px;
        padding-left: 90px;
        transform: none;
    }
    
    .spanText {
        display: flex;
        width: 35%;
        color: #ffffff;
        font-size: 20px;
        padding-left: 90px;
        transform: none;
    }
}
