.partners {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background-color: #f1f3f6;

    .partnersFirstPart {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;

        .partnersImgAndTxt {
            margin-right: 90px;

            .partnersName {
                font-size: 30px;
            }
        }
    }

    .partnersSecondPart {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .partnersImgAndTxt {
            margin-right: 90px;

            .partnersName {
                font-size: 30px;
            }
        }
    }
}
