body {
  margin: 0;
  padding: 0;
  background-image: url("/src/assets/images/mainpageBackground.png");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

html {
  scroll-behavior: smooth;
}
